body {
    font-family: 'Poppins', sans-serif;
    background-image:
}

h1 {
    font-size: 50px;
}

#name {
    color: aquamarine;
}

section {
    display: flex;

}

.resize {
    width: 50%;
    padding: left 10%;


}

.resize img {
    width: 100%;



}

.button {

    background-image: linear-gradient(green, orange);
    text-decoration: none;
    padding: 5px 30px;
    border-radius: 7px;
    font-weight: 800;
}

.background {
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    margin: 0%;
    display: flex;
}